body {
  background-color: white;
  margin: 0;
  /* padding: 0; */
  /* height: 100%; */
  overflow: hidden;
  font-family: Arial, sans-serif;
}

#title-screen {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#enter-button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

#typing-screen {
  display: none;
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* Ensures no scrollbars */
  position: relative; /* Allows absolute positioning inside */
  background-color: white;
  touch-action: none; /* Prevents scrolling on touch devices */
  user-select: none; /* Disable text selection */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
